@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: calibre;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --white: rgb(255, 255, 255);
  --sky: #2E75AB;
  --blue: #0D2237;
  --amber: #FF8E2B;
  --red: #F56565;
  --smblue: rgba(13, 34, 55, 0.55);
  --black: rgb(0, 0 ,0)
}

@layer utilities {

  .bg-sky { background-color: var(--sky); }
  .bg-sky-half { background-color: rgb(46, 117, 171, 0.25); }
  .border-sky { border-color: var(--sky) }
  .text-sky { color: var(--sky)}

  .bg-blue { background-color: var(--blue);}
  .text-blue { color: var(--blue) }

  .border-red { border : 1px solid var(--red)}
  .border-blue { border-color: var(--blue)}
  .border-amber { border-color: var(--amber)}

}

/* ===== ABOUT ME ===== */

@layer utilities {
  .GRID_AM_LG {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "information photo socmed";
  } 
  .GRID_AM_XS {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "information"
      "socmed";
  }
}


/* BANNER 4 STYLE CARDS  */

.custom-box {
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

@layer utilities {
  .GRID_LG {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "blank photo quote quote"
      "blank photo quote quote"
      "blank photo question question"
      "figma figma question question";
  }

  .GRID_XS {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "figma"
      "question";
  }
}


/* END ============= */

/* THEME TOGGLE */

.dark-theme {
  background-color: var(--blue);
  color: var(--white)
}

.light-theme {
  background-color: var(--white);
  color: var(--blue)
}

.border-dark-theme {
  border-color: var(--white);
}

.border-light-theme {
  border-color: var(--blue);
}

/* END ============= */

/* SUROUND CARD */

.scard-dark-theme {
  background-color: var(--blue);
  border-color : var(--sky);
  color: var(--white)
}

.scard-light-theme {
  background-color: var(--white);
  border-color : var(--sky);
  color: var(--black)
}

.amber-text-dark-theme {
  color: var(--amber)
}

/* END ============= */

/* GRADIENT CLASS STYLE */

.gradient-3c {
  background: linear-gradient(to right, var(--blue), var(--sky), var(--blue));
}

.gradient-3c1 {
  background: linear-gradient(to right, transparent, var(--sky), transparent);
}

.gradient-tb-2c {
  background: linear-gradient(to bottom, transparent, var(--sky));
}

.bg-radial-pattern-light-theme {
  opacity: 1;
  background-image: radial-gradient(var(--blue) 0.5px, #ffffff 0.5px);
  background-size: 10px 10px;
}

.bg-radial-pattern-dark-theme {
  opacity: 1;
  background-image: radial-gradient(#ffffff 0.5px, var(--blue) 0.5px);
  background-size: 10px 10px;
}

.bg-gradient-light-theme {
  background: linear-gradient(to top, var(--white), transparent, var(--white));
}

.bg-gradient-dark-theme {
  background: linear-gradient(to top, var(--blue), transparent, var(--blue));
}


.animate-fly1 {
  animation:boxAnimation 2s ease-in infinite;
}

/* width */
::-webkit-scrollbar {
  width:4px; height:4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width:1px; height:1px;
  background: rgb(23 37 84);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width:1p; height:1px;
  background: rgb(245 158 11);
}

@keyframes boxAnimation {
  0% { transform: translateY(0px) translateX(0px); }  /* Optional starting frame */
  50% { transform: translateY(0px) translateX(30px); }  /* Optional ending frame */
  100% { transform: translateY(0px) translateX(0px); }
}


/* src/index.css */
@font-face {
  font-family: 'calibre';
  src: url("../public/Fonts/calibre/regular/calibre_regular.contenthash.96e3b1a24144c297ef23157e8fb82875fabbf07c.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* src/index.css */
@font-face {
  font-family: 'Calibre';
  src: url("../public/Fonts/calibre/bold/calibre_bold.woff2") format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Calibre';
  src: url("../public/Fonts/calibre/semibold/calibre_semibold.woff2") format('woff2');
  font-weight: 600;
  font-style: semibold;
}

@keyframes fly {
  0% {
    top: 3px;
    left: 0px;
  }
  25% {
    top: 6px;
    left: 3px;
  }
  50% {
    top: 3px;
    left: 6px;
  }
  75% {
    top: 0px;
    left: 3px;
  }
  100% {
    top: 3px;
    left: 0px;
  }
}

